body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#c-cpp-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
    text-align: left;
    margin: 20px 0;
}

#c-cpp-content h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.column h3 {
    color: #4CAF50;
    margin-bottom: 10px;
}

.column p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

.column img {
    width: 80%; /* Reduce the image size */
    max-width: 250px; /* Set a maximum width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.column a {
    color: #4CAF50;
    text-decoration: none;
}

.column a:hover {
    text-decoration: underline;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
